*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.wrap01{
    width: 100%;
    height: 100vh;
    background-image: url(img/01_01.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.wrap02{
    width: 100%;
    height: 100px;
    position: absolute;
    padding-top: 44px;
}

.fr_set{
    width: 1421px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.fr01{
    width: 186px;
    height: 46px;
    background-image: url(img/m_01.png);
}

.fr02{
    width: 133px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 781px;
}

.fr03{
    width: 94px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 40px;
}

.fr04{
    width: 141px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 40px;
}

/*--네비게이션--*/
nav{
    width: 100%;
    height: 100px;
    padding-top: 44px;
}

ul{
    width: 1421px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0);
}

.bt02{
    width: 133px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 781px;
}

.bt03{
    width: 94px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 40px;
}

.bt04{
    width: 141px;
    height: 21.26px;
    margin-top: 12.7px;
    margin-left: 40px;
}

/*sub01*/

.s_b00{
    width: 100%;
}

.s_b01{
    height: 1080px;
    background-image: url(img/s01_01.png);
}

.s_b01_01{
    width: 1429px;
    height: 1080px;
    margin: 0 auto;
    padding-top: 76px;
}

.s_b02{
    height: 1148px;
}

.s_b02_01{
    padding-top: 137px;
    width: 1100px;
    height: 1392px;
    margin: 0 auto;
}

.s_b03{
    height: 2501px;
    background-color: #1b1b1b;
}

.s_b03_01{
    width: 756px;
    height: 99px;
    margin: 0 auto;
    padding-top: 40px;
}

.s_b03_02{
    width: 1100px;
    height: 651.81px;
    margin: 0 auto;
    padding-top: 50px;
}

.s_b03_03{
    width: 1100px;
    height: 757.95px;
    margin: 0 auto;
    padding-top: 80px;
}

.s_b03_04{
    width: 1100px;
    height: 664.46px;
    margin: 0 auto;
    padding-top: 80px;
}

.s_f01{
    width: 100%;
    height: 218px;
    background-color: #2F2F2F;
    text-align: center;
}

.s_f02{
    width: 100%;
    height: 179px;
    background-color: #000000;
    text-align: center;
}


/*--sub02--*/
.s2_b02{
    width: 1100px;
    height: 1538px;
    margin: 0 auto;
    padding-top: 205.4px;
}

.s2_b02_02{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.s2_b02_03{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.s2_b03{
    width: 1100px;
    height: 1021px;
    margin: 0 auto;
    padding-top: 300.7px;
    background-color: white;
}

.s2_b03_01{}

.s2_b03_02{
    display: flex;
    justify-content: space-between;
    padding-top: 70.3px;
}

.s2_b04{
    width: 1100px;
    height: 1791px;
    margin: 0 auto;
    padding-top: 300.7px;
}

.s2_b04_01{}

.s2_b04_02{
    padding-top: 50px;
}

.s2_b04_03{
    padding-top: 50px;
}

.s2_b04_04{
    padding-top: 50px;
}

.ft01{
    padding-top: 139px;
}

.s_f01{
    width: 100%;
    height: 218px;
    background-color: #2F2F2F;
    text-align: center;
}

.s_f02{
    width: 100%;
    height: 179px;
    background-color: #000000;
    text-align: center;
}

/*--sub03--*/

.s3_b02{
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}

.s3_b03{
    width: 1100px;
    margin: 0 auto;
    padding-top: 188px;
}

.s3_b03_02{padding-top: 118px;}
.s3_b03_03{padding-top: 116.9px;}
.s3_b03_04{padding-top: 118px;}
.s3_b03_05{padding-top: 117px;}
.s3_b03_06{padding-top: 118px;}
.s3_b03_07{padding-top: 117px;}
.s3_b03_08{padding-top: 117.9px;}
.s3_b03_09{padding-top: 117px;}
.s3_b03_04{padding-top: 118px;}

.ft{
    padding-top: 118px;
}